
*,*::after,*::before{
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}





main{
    padding: 20px;
    head{

    }
    section{
        text-align: center;
    }
}



.form-input{
    max-width: 500px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid gray;
    margin: 5px;
    &:focus{
        box-shadow: 2px 2px 5px aqua;
    }

}

.form-textarea{
    padding: 20px;
    border: 1px solid gray;

    
    &:focus{
        box-shadow: 2px 2px 5px aqua;
    }
}

.block{
    display: block!important;
}

.center{
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.button{
    width: auto;
    padding: 10px;
    padding: 20px;
    border: 1px solid gray;
    background-color: gray;
    cursor: pointer;
    &:hover{
        box-shadow: 1px 1px 5px aqua;
        background-color: aqua;
        
    }
}