<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/assets/images/me/logo-mobile.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/me/home.css">
    <title>Trang chủ</title>
</head>

<body>

    <main class="container">
        <header class="container__header">
            <div class="container__header__logo">
                <img width="180" height="25" src="/assets/images/me/logo.png" alt="Logo Travel Viet Nam">
            </div>

            <div class="container__header__center">
                <article>
                    <aside>
                        <a class="a" href="javascript:void(0);">Trải nghiệm mới</a>
                        <a class="b" href="javascript:void(0);">Đăng nhập</a>
                        <a class="b" href="javascript:void(0);">Giới thiệu</a>
                    </aside>
                </article>
                
                <div>
                    <a href="javascript:void(0);">Đăng ký</a>
                </div>
            </div>

            
            <div class="container__header__icon">
                <i class="fas fa-align-justify"></i>
                <aside class="hidenMenu">
                
                    <a href="javascript:void(0);">Trải nghiệm mới</a>
                    <a href="javascript:void(0);">Đăng nhập</a>
                    <a href="javascript:void(0);">Đăng ký</a>
                    <a href="javascript:void(0);">Giới thiệu</a>
                    <a href="javascript:void(0);">Đăng xuất</a>
                    
                </aside>
            </div>

        </header>

        <section class="container__about">
            <div class="container__about__content">
                <div class="container__about__content__title">
                    <h1>Activities to experience, to learn and to enjoy a city</h1>
                </div>
                <div class="container__about__content__text">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A nam nulla, asperiores in possimus
                        laborum odio cupiditate dicta ut ea et.</p>
                </div>
                <div class="container__about__content__search">
                    <input type="text" placeholder="Search your city...">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </section>





        <section class="container__body"></section>

        <footer class="container__footer"></footer>
    </main>





    <!-- LOAD FILE JAVASCRIPT -->

    <script src="/assets/scripts/me/home.js"></script>
</body>

</html>