<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/assets/images/me/logo-mobile.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/me/home.css">
    <title>Trang chủ</title>
</head>

<body>

    <main class="container">
        <header class="container__header">
            <div class="container__header__logo">
                <img width="180" height="25" src="/assets/images/me/logo.png" alt="Logo Travel Viet Nam">
            </div>

            <div class="container__header__center">
                <article>
                    <aside>
                        <a class="a" href="javascript:void(0);">Trải nghiệm mới</a>
                        <a class="b" href="javascript:void(0);">Đăng nhập</a>
                        <a class="b" href="javascript:void(0);">Giới thiệu</a>
                    </aside>
                </article>

                <div>
                    <a href="javascript:void(0);">Đăng ký</a>
                </div>
            </div>


            <div class="container__header__icon">
                <i class="fas fa-align-justify"></i>
                <aside class="hidenMenu">

                    <a href="javascript:void(0);">Trải nghiệm mới</a>
                    <a href="javascript:void(0);">Đăng nhập</a>
                    <a href="javascript:void(0);">Đăng ký</a>
                    <a href="javascript:void(0);">Giới thiệu</a>
                    <a href="javascript:void(0);">Đăng xuất</a>

                </aside>
            </div>

        </header>

        <section class="container__about">
            <div class="container__about__content">
                <div class="container__about__content__title">
                    <h1>Các trải nghiệm mới mẻ sẽ giúp bạn cảm thấy vui vẻ hơn đôi chút...</h1>
                </div>
                <div class="container__about__content__text">
                    <p> Chúng tôi làm cho việc đi đến hoặc ở trong một thành phố trở nên thú vị hơn với các hoạt động
                        sáng tạo và không chính thống, được cung cấp bởi các chủ nhà địa phương.</p>
                </div>
                <div class="container__about__content__search">
                    <input type="text" placeholder="Tìm kiếm thành phố cho bạn...">
                    <i class="fas fa-search"></i>
                    <article class="container__about__content__search__list">
                        <aside>
                            <a href="javascript:void(0);"><i class="fas fa-map-marker-alt"></i> HaNoi</a>
                            <a href="javascript:void(0);"><i class="fas fa-map-marker-alt"></i> HoChiMinh</a>
                            <a href="javascript:void(0);"><i class="fas fa-map-marker-alt"></i> HaiPhong</a>
                            <a href="javascript:void(0);"><i class="fas fa-map-marker-alt"></i> HaiDuong</a>
                            <a href="javascript:void(0);"><i class="fas fa-map-marker-alt"></i> HoaBinh</a>
                        </aside>
                    </article>
                </div>
            </div>
        </section>

        <section class="container__why">
            <!-- WHY_US_title -->
            <header class="container__why__title">
                <h1>Tại sao lại là chúng tôi?</h1>
            </header>
            <!--END_WHY_US_title-->

            <div class="container__why__container">
                <!-- content1 -->
                <div class="container__why__container__content fade">
                    <!-- WHY_US_Image -->
                    <div link="/assets/images/me/whyus1.png" style="background-image: url('/assets/images/me/whyus1.png');"
                        class="container__why__container__content__image">
                    </div>
                    <!--END_WHY_US_IMaGE-->

                    <!-- WHY_US_TItle -->
                    <div class="container__why__container__content__title">
                        <h3>
                            Kinh nghiệm được thiết kế và chia sẻ bởi các chuyên gia.
                        </h3>
                    </div>
                    <!--END_WHY_US_Title-->

                    <!-- WHY_US_Content -->
                    <div class="container__why__container__content__content">
                        <h5>
                            Không có công cụ du lịch chính thống, chỉ có các Hoạt động nguyên bản nhất được tổ chức bởi
                            các chuyên gia địa phương tuyệt vời, chúng tôi ứng tuyển.
                        </h5>
                    </div>
                    <!--END_WHY_US_Content-->

                </div>

                <!-- content2 -->
                <div class="container__why__container__content fade">


                    <!-- WHY_US_Image -->
                    <div link="/assets/images/me/whyus2.jpg" style="background-image: url('/assets/images/me/whyus2.jpg');"
                        class="container__why__container__content__image">

                    </div>
                    <!--END_WHY_US_IMaGE-->

                    <!-- WHY_US_TItle -->
                    <div class="container__why__container__content__title">
                        <h3>
                            Luôn nhiệt tình, sẵn sàng đáp ứng mọi yêu cầu.
                        </h3>
                    </div>
                    <!--END_WHY_US_Title-->

                    <!-- WHY_US_Content -->
                    <div class="container__why__container__content__content">
                        <h5>
                            Giống như một đứa trẻ, chúng tôi luôn muốn tìm tòi những thứ mới 
                            tìm ra những vùng đất mới và khám phá chúng.
                        </h5>
                    </div>
                    <!--END_WHY_US_Content-->

                </div>

                <!-- content3 -->
                <div class="container__why__container__content fade">
                    <!-- WHY_US_Image -->
                    <div link="/assets/images/me/whyus3.jpg" style="background-image: url('/assets/images/me/whyus3.jpg');"
                        class="container__why__container__content__image">

                    </div>
                    <!--END_WHY_US_IMaGE-->

                    <!-- WHY_US_TItle -->
                    <div class="container__why__container__content__title">
                        <h3>
                            Chúng thôi thật sự thú vị bạn có tin không?
                        </h3>
                    </div>
                    <!--END_WHY_US_Title-->

                    <!-- WHY_US_Content -->
                    <div class="container__why__container__content__content">
                        <h5>
                            Bạn sẽ được đi từ bất ngờ này đến những bất ngờ khác bởi những bạn sinh viên
                            trẻ trung sôi nổi của chúng tôi.
                        </h5>
                    </div>
                    <!--END_WHY_US_Content-->

                </div>
            </div>
            <!-- WHY_US_bot -->
            <div class="container__why__bot">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
            <!--END_WHY_US_bot-->
        </section>





        <section class="container__body"></section>

        <footer class="container__footer"></footer>
    </main>





    <!-- LOAD FILE JAVASCRIPT -->

    <script src="/assets/scripts/me/home.js"></script>
</body>

</html>